* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #eeecee;
}

.container {
  width: 80%;
  margin: auto;
}
header {
  background-color: palevioletred;
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
}

header .logo {
  color: #444;
  font-size: 18px;
  text-decoration: none;
}
header nav ul {
  display: flex;
  gap: 30px;
}
header nav ul li {
  list-style: none;
}
header nav ul li a {
  color: #444;
  text-decoration: none;
}

#hero,
#portfolio,
#about,
#contact {
  padding: 120px 0;
}
#hero,
#portfolio {
  background-color: gray;
}
#about,
#contact {
  background-color: rgb(181, 181, 181);
}
