* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #eeecee;
}

.container {
  width: 80%;
  margin: auto;
}
header {
  background-color: palevioletred;
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
}

header .logo {
  color: #444;
  font-size: 18px;
  text-decoration: none;
}
header nav ul {
  display: flex;
  gap: 30px;
}
header nav ul li {
  list-style: none;
}
header nav ul li a {
  color: #444;
  text-decoration: none;
}

#hero,
#portfolio,
#about,
#contact {
  padding: 120px 0;
}
#hero,
#portfolio {
  background-color: gray;
}
#hero p {
  color: #eeecec;
  font-size: 10px;
  line-height: 20px;
  width: 850px;
}
#hero h1 {
  font-size: 55px;
  color: #fff;
  margin-bottom: 10px;
}
#hero h4 {
  color: #eeecec;
  font-size: 30px;
  font-weight: 100;
  margin-bottom: 12px;
}
#hero button {
  margin: 10px 0;
  background-color: #fff;
  padding: 15px 60px;
  border: none;
  border-radius: 5px;
  text-transform: uppercase;
  font-size: 16px;
  color: teal;
  letter-spacing: 3px;
  cursor: pointer;
}
#hero button :hover {
  background-color: white;
}
#about,
#contact {
  background-color: rgb(181, 181, 181);
}
#about .container {
  display: flex;
  gap: 20px;
}
#about .about-left {
  width: 50%;
  display: flex;
  justify-content: center;
}
#about .about-left img {
  width: 70%;
  border-radius: 50px;
  box-shadow: 2px 4px 20px;
}
#about .about-right {
  width: 50%;
}
#about .about-right h2 {
  font-size: 45px;
  margin-bottom: 20px;
  line-height: 20px;
}
#about .about-right button {
  background-color: teal;
  padding: 15px 40px;
  border-radius: 6px;
  border: none;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #fff;
}
