* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(165, 116, 165);
}

.container {
  width: 80%;
  margin: auto;
}
/* Header */
header {
  background-color: rgb(179, 82, 179);
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
}

header .logo {
  color: #444;
  font-size: 18px;

  text-decoration: none;
}
header nav ul {
  display: flex;
  gap: 30px;
}
header nav ul li {
  list-style: none;
}
header nav ul li a {
  color: #444;
  text-decoration: none;
}

#hero,
#portfolio,
#about {
  padding: 120px 0;
}
/* Hero Section */
#hero p {
  color: #eeecec;
  font-size: 10px;
  line-height: 20px;
  width: 850px;
}
#hero h1 {
  font-size: 55px;
  color: #fff;
  margin-bottom: 10px;
}
#hero h4 {
  color: #eeecec;
  font-size: 30px;
  font-weight: 100;
  margin-bottom: 12px;
}
#hero button {
  margin: 10px 0;
  background-color: #fff;
  padding: 15px 60px;
  border: none;
  border-radius: 5px;
  text-transform: uppercase;
  font-size: 16px;
  color: teal;
  letter-spacing: 3px;
  cursor: pointer;
}
#hero button :hover {
  background-color: white;
}
/* About */
#about,
#contact {
  background-color: plum;
}
#about .container {
  display: flex;
  gap: 20px;
}
#about .about-left {
  width: 50%;
  display: flex;
  justify-content: center;
}
#about .about-left img {
  width: 70%;
  border-radius: 50px;
  box-shadow: 2px 4px 20px;
}
#about .about-right {
  width: 50%;
}
#about .about-right h2 {
  font-size: 45px;
  margin-bottom: 20px;
  line-height: 20px;
}
#about .about-right button {
  background-color: teal;
  padding: 15px 40px;
  border-radius: 6px;
  border: none;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #fff;
  margin-top: 20px;
}
#about .container {
  display: flex;
  align-items: center;
}
/* Portfolio Projects */
#Portfolio {
  background-color: #eeecec;
  padding: 70px 0;
}
#portfolio h2 {
  font-size: 45px;
  margin-bottom: 50px;
}
.project {
  background-color: #fff;
  padding: 15px;
  box-shadow: 1px 2px 12px;
  border-radius: 10px;
  margin-top: 20px;
  display: flex;
  gap: 20px;
}
.project-image {
  width: 40%;
}
.project-desc {
  width: 60%;
  padding: 20px;
  border-radius: 20px;
}
.project p {
  margin-top: 10px;
}
.project-desc a {
  background-color: teal;
  padding: 6px;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
}
.badges {
  margin: 30px 0px;
}
.project .badges span {
  background-color: rgb(178, 225, 225);
  padding: 6px;
  border-radius: 4px;
  color: #fff;
  margin-right: 5px;
}

.project-image img {
  width: 100%;
  border-radius: 15px;
  height: 170px;
}

/* Contact */
#contact {
  background-color: rgb(138, 96, 177);
  padding-top: 70px;
}
.contact-wrapper {
  background-color: rgb(206, 155, 206);
  padding: 70px 150px;
  border-top-left-radius: 100px;
  display: flex;
}
.contact-info {
  width: 30%;
}
/* Form */
form {
  width: 70%;
  padding: 20px;
  background-color: teal;
  border-radius: 15px;
}
form div {
  margin-bottom: 15px;
}
form label {
  color: #fff;
}
form input,
form textarea {
  display: block;
  width: 100%;
  margin-top: 3px;
  padding: 10px 7px;
  border: none;
  border-radius: 6px;
}
form button {
  padding: 12px 50px;
  border: 2px solid #fff;
  border-radius: 50px;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 3px;
  width: 50%;
  margin-top: 10px;
  align-items: center;
}
form button:hover {
  background-color: transparent;
  color: #fff;
}
